# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
**/node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.*
*.env
*.env.example

# Build outputs
dist/
**/dist/
build/
**/build/

# IDE / System
.DS_Store
Thumbs.db
.vscode/
.idea/
